# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = DaAlbrecht
	email = dadidi42@gmail.com
	signingkey = 8434B6AF
[commit]
	gpgsign = true
[gpg]
    program = /opt/homebrew/bin/gpg
[core]
	excludesfile = ~/.gitignore_global
    pager = delta
[rebase]
	updateRefs = true
[rerere]
    enabled = true
[push]
    autoSetupRemote = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    line-numbers = true


[merge]
    conflictstyle = zdiff3
